@import 'variables';

// Main
@import 'typography';
@import 'layout';

// Components
@import 'buttons';

// Pages
@import 'pages/index';
@import 'pages/user';
@import 'pages/repositories';
@import 'pages/results';

html {
  overflow-y: scroll;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Source Sans Pro', 'Verdana';
  font-weight: 300;

  strong {
    font-weight: normal;
  }
}

.error-bar {
  padding: 10px;
  background-color: $secondary-color-light;

  .fa-times {
    float: right;
    padding: 1px 4px;
  }

  &:hover {
    cursor: pointer;
    .fa-times {
      color: $secondary-color;
    }
  }

  transition: height 2s;
  -moz-transition: height 2s; /* Firefox 4 */
  -webkit-transition: height 2s; /* Safari and Chrome */
  -o-transition: height 2s; /* Opera */
}
