@import 'typography';
@import 'variables';

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Fira Sans', 'Verdana';
  font-weight: normal;
}

a {
  color: $primary-color;

  &:link, &:visited, &:active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

main {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: relative;
}

header {
  overflow: hidden; // Wrap around floating content
  text-align: center;
  position: relative;

  a.step {
    width: 33.33%;
    float: left;
    position: relative;

    &:hover {
      text-decoration: none;
      .circle {
        background-color: $primary-color-light;
      }
    }

    &.active {
      .circle {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }

  .circle {
    margin-left: auto;
    margin-right: auto;

    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid $primary-color;

    position: relative;
    background-color: #fff;
    z-index: 2;
  }

  // Add the line between steps
  .step:not(:first-child)::after {
    content: " ";
    position: absolute;
    width: 100%;
    left: -50%;

    top: 20px;
    height: 0px;
    border: 1px solid $primary-color;

    z-index: 1;
  }
}

.button-block {
  overflow: hidden; // Wrap around floating content
}

// TODO(azirbel): Duplication with next-btn
.back-btn {
  position: absolute;
  left: 0;
  // TODO(azirbel): Variable
  width: 33.33%;
  background-color: $primary-color;
  color: #fff;
  text-align: center;
  line-height: 30px;

  &:hover {
    text-decoration: none;
    background-color: $primary-color-light;
  }
}

.back-btn::before {
  content: '< ';
}

.home-btn {
  position: absolute;
  left: 33.33%;
  width: 33.33%;
  text-align: center;
}

.next-btn {
  position: absolute;
  right: 0;
  // TODO(azirbel): Variable
  width: 33.33%;
  background-color: $primary-color;
  color: #fff;
  text-align: center;
  line-height: 30px;

  &:hover {
    text-decoration: none;
    background-color: $primary-color-light;
  }
}

.next-btn::after {
  content: ' >';
}
