// Not best-practice. Added at the end as an afterthought
// Using "body" to gain specificity. Also hacky
@media (max-width: 600px) {
  body {
    main {
      width: 95%;
    }

    .project-header {
      font-size: 48px;
    }

    .description {
      width: 95%;
    }

    .azirbel-graph {
      width: 95%;
    }
  }
}

@media (max-width: 300px) {
  body {
    main {
      width: 295px;
    }

    .description {
      width: 295px;
    }

    .welcome {
      width: 295px;
    }

    .azirbel-graph {
      width: 295px;
    }
  }
}
