// TODO(azirbel): Evaluate font options
// Fira Sans
// Roboto
// Droid Sans
// Cantarell
// Open Sans

@font-face {
  font-family: 'Fira Sans';
  src: url('/assets/fonts/FiraSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Foglihten';
  src: url('/assets/fonts/FoglihtenNo01.otf') format('opentype');
}

@font-face {
  font-family: 'Zantroke';
  src: url('/assets/fonts/Zantroke.otf') format('opentype');
}
