@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/SourceSansPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/SourceSansPro-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Zantroke';
  src: url('/assets/fonts/Zantroke.otf') format('opentype');
}

@mixin standard-text {
  font-size: 18px;
  line-height: 28px;
}

a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: $link-color;

  &:link, &:visited, &:active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.project-header {
  font-size: 64px;
  margin-bottom: 20px;
}

.description {
  font-size: 24px;
  color: $primary-color-light;
  width: 600px;
  margin: auto;
  margin-bottom: 16px;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  margin: 48px 0 24px 0;
}

h1.title {
  margin-top: 32px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 32px 0 24px 0;
}

h2.goodwill {
  margin: 0;
}

p {
  @include standard-text;
  margin: 24px 0 32px 0;
}

p.last {
  margin-bottom: 12px;
}
