// Color
// ----------------------------------------------------------------------------
$primary-color: #8862e2;
$secondary-color: #D080EC;

$primary-color-dark: #3E1B90;
$primary-color-light: lighten($primary-color, 20%);
$primary-color-superlight: lighten($primary-color, 30%);

// Applications of color
// ----------------------------------------------------------------------------
$dark-btn-color: $primary-color-dark;
$dark-btn-hover-color: $primary-color;

$light-btn-color: $primary-color-superlight;
$light-btn-hover-color: #fff;

$link-color: $primary-color;

$hover-bg-color: $primary-color-superlight;

$positive-color: $primary-color;
$negative-color: $secondary-color;
