.repository {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;

  cursor: pointer;

  &:hover {
    background-color: $primary-color-light1;
  }

  &.checked {
    background-color: $primary-color-light2;
  }

  .fa {
    width: 16px;
    margin-top: 1px;
  }
}
