.repository {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;

  cursor: pointer;

  &:hover {
    background-color: $hover-bg-color;
  }

  &.checked {
    background-color: $primary-color-light;
  }

  .fa {
    width: 16px;
    margin-top: 1px;
  }

  .repo-name {
    @include standard-text;
  }
}
