<main>
  <h1>Error. Sorry!</h1>
  <p>
    If you have an idea of what went wrong, please <a target="_blank"
      href="https://github.com/azirbel/reciprocity/issues">file an issue</a>
    and I'll try to fix it! In the meantime, you'll have to go back and try
    again.
  </p>
</main>
