<div class='welcome'>
  <div class='welcome-block'>
    <div class='project-name'>RECIPROCITY</div>
    <div class='tagline'>Something something</div>
    {{link-to 'Start' 'username' class='start-btn'}}
    <p>Or, read more...</p>
  </div>
</div>
<main>
  <h1>What is this?</h1>
  <p>
    Reciprocity is a little tool that measures how much you give and take when
    it comes to code review. It's intended as an easy way to check if you're
    spending enough time helping out your team, or if you're freeloading a bit.
  </p>
  <p>
    It only works with GitHub, but can analyze whichever repositories you
    choose - public or private.
  </p>
  <p>
    In a nutshell, Reciprocity scans through all the pull requests in
    repositories you want to analyze, looking for comments that contain the
    phrase "LGTM". If you LGTM'd someone else's code, you'll get "goodwill"
    points for each line of code. If someone else LGTM'd your code, you'll lose
    goodwill points.
  </p>
  <p>
    There are also stats to see how you've been doing over time, see who those
    awesome people are who review your code, and measure "large" and "small"
    pull requests (200 lines of code). Everyone knows lines of code is kind of
    a terrible metric.
  </p>

  <h1>How does it work?</h1>
  <p>
    First, you'll enter your GitHub username. If you want to analyze private
    repositories as well, you'll have to get a Personal Access Token from
    GitHub too.
  </p>
  <p>
    Then, you'll pick which repositories you want from the list of your starred
    repositories. We use starred repositories because it's not practical to
    scan every repository you've ever worked in.
  </p>
  <p>
    Reciprocity will scan through every pull request in each repository you
    selected. It looks for comments that contain the phrase "LGTM", and
    determines the author and reviewer(s) in each comment. It also handles a
    couple special cases. For example, if the author of a pull request comments
    "LGTM", Reciprocity assumes they are making a note of a verbal LGTM someone
    else gave. So comments like "LGTM'd by @otherdude" will attribute the LGTM
    to "otherdude".
  </p>
  <p>
    Finally, you'll see a summary of your stats and a list of all the pull
    requests you've been involved in!
  </p>

  <h1>About the author</h1>
  <p>
    Alex Zirbel is <a target="_blank"
    href="http://github.com/azirbel">azirbel</a> on GitHub, and
    <a target="_blank"
    href="http://www.twitter.com/alexzirbel">@alexzirbel</a> on Twitter.
  </p>
</main>
