<div>Select Repositories</div>

<br/><br/>
<div>Please select from starred repositories:</div>
{{#each repository in allRepositories}}
  <div>
    {{input type='checkbox' checkedBinding='repository.checked'}}
    <span>{{repository.name}}</span>
  </div>
{{/each}}

<br/><br/>

{{link-to 'Username' 'username'}}
{{link-to 'Results' 'results'}}
