<h3>Results</h3>

<div>Goodwill:</div>
<div>{{totalGoodwill}}</div>

<br/><br/>

{{#each stat in stats}}
  <div>Author: {{stat.author}}</div>
  <div>Reviewer: {{stat.reviewers}}</div>
  <div>LOC: {{stat.loc}}</div>
  <br/><br/>
{{/each}}
